header {
    height: 80vh;
    padding-top: 7rem;
    /* overflow: hidden; */

}

.header__container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}

header h1{
    color: var(--color-lightest);
}

.header__container h4 {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.header__container h4:nth-of-type(2) {
    color: var(--color-primary);
    margin-top: 2rem;
}


/* ========== CTA ========== */

.cta {
    margin-top: 3rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    
}

/* ========== ME ========== */

.me {
    background: var(--color-primary);
    width: 18.2rem;
    height: 27.05rem;
    position: absolute;
    left: calc(50% - 9.1rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding-top: 3rem;


}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

    .me {
        width: 15rem;
        height: 22.7rem;
        left: calc(50% - 7.5rem);


    }


}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;

    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .me {
        width: 15rem;
        height: 20.7rem;
        left: calc(50% - 7.5rem);     
        padding-top: 1rem;
    }

}